<!DOCTYPE html>
<html lang="ja">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= page.title %></title>
<meta name="description" content="<%= page.title %>">

<% if(page.isNoindex) { %>
<meta name="robots" content="noindex, follow">
<% } %>

<link rel="apple-touch-icon" href="">
<meta name="apple-mobile-web-app-title" content="">
<link rel="canonical" href="<%= page.page_url %>">

<meta property="fb:app_id" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@uid7das9872342">
<meta property="og:type" content="website">
<meta property="og:site_name" content="sample_site">
<meta property="og:image" content="<%= site.ogp_img %>">
<meta property="og:title" content="<%= page.title %>">
<meta property="og:url" content="<%= page.page_url %>">
<meta property="og:description" content="<%= page.description %>">

<!-- ICON -->
<link rel="icon" href="<%= page.favicon_url %>">
<link rel="apple-touch-icon" sizes="180x180" href="<%= page.appleicon_url %>">
<!-- /ICON -->

<link rel="stylesheet" href="/css/app.css<%= site.asset_cache(); %>">
<% if(page.css.length > 0) { %>
<% for (let i = 0; i < page.css.length; i++) { %>
<link rel="stylesheet" href="<%= page.css[i] %><%= site.asset_cache() %>">
<% } %>
<% } %>

</head>
<body>
